

{% load static %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/searchbook.css' %}" />
    <title>Search Book</title>
{% endblock head %}

{% block content %}
        <div class="SearchBook">
        <div class="d-flex justify-content-center" id='buku'>
            <h1 class="judulSearchBook">
                <b name="judul" style="color: #9E7977">Search Book</b>
            </h1>ç
        </div>
        <div class="back-button">
            <a style="display: block; width:60px ;border-radius: 10px; margin-left: auto; text-align: center;
            margin-right: auto;" id= "bu" class="btn btn-warning" href="/" role="button">Back</a>
        </div>
        <div class="SearchBook2">
            <input type="text" id="textField" class="form-control" name="searchbar" placeholder="Search for books.." title="Type in a name">
        </div>
       
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr class="table text-center">
                        <th scope="col" style="color: #9E7977">No</th>
                        <th scope="col" style="color: #9E7977">Cover</th>
                        <th scope="col" style="color: #9E7977">Title</th>
                        <th scope="col" style="color: #9E7977">Authors</th>
                        <th scope="col" style="color: #9E7977">Publisher</th>
                        <th scope="col" style="color: #9E7977">Published Date</th>
                    </tr>
                </thead>
                <tbody id="hasilSearch" style="color: #9E7977;"></tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/searchbook.js' %}"></script>
{% endblock content %}
