.container{
    padding-top: 15px;
  }
  

  body {
    font-family: 'Rubik', sans-serif;
    background-color: #F2EDEB;
  }
  
    .jumbotron{
      background-size: cover;
    }
  
    .d-flex{
      display: flex!important;
    }
  
    #bton2 {
      text-align: center;
    }
    #but{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #bu {
      background-color:  #C39896;
      border: none;
      color: white;
      border-radius: 12px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      width: 15%;
    }

    #borcol {
      border: none;
      background-color:  #C39896;

    }
  
    .d-flex{
      display: flex!important;
    }
  


  
  /* Rounded sliders */
  
  
  
    h2, p{
    color: white;
    }
  
  .panel-heading{
    background-color: #C39896;

  }

  strong{
    color: white;;
  }

  #navbar  {
    background-color: #9E7977;
    border-color: #9E7977;
    text-decoration: none;
  }
  .nav-link {
    color:   #928888;
  }

  #accordion {
    background-image: url("img/2.png");
    width: 100%;
    height: max-content;
    height: 100%;
    background-color: #F2EDEB ;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; 

  }

  h1{
    padding: 15%;
    text-align: right;
    color: #928888;
    font-family:'Courier New', Courier, monospace;
   }