body {
    font-family: 'Rubik', sans-serif;
    background-color: #F2EDEB;
  }

  #navbar  {
    background-color: #9E7977;
    border-color: #9E7977;
    text-decoration: none;
  }
  .nav-link {
    color:   #928888;
  }