/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


body {
  font-family: 'Rubik', sans-serif;
  background-color: #F2EDEB;
}

#sec1 {
  width: 100%;
  height: max-content;
  background-image: url("img/2.png");
  background-color: #F2EDEB ;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
  height: 100%;
}

strong{
  color: blanchedalmond;
}
#navbar  {
  background-color: #9E7977;
  border-color: #9E7977;
  text-decoration: none;
}
.nav-link {
  color:   #928888;
}
li{
  text-decoration: none;
  color: black;
}


 .col-sm-3 {
  height: fit-content;
   padding-top: 3%;
   padding-bottom: 3%;
 }
 footer {
  background-color: #9E7977;
  }
 #center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3{
  padding: 15%;
  text-align: right;
  color: #928888;
  font-family:'Courier New', Courier, monospace;
 }

 h2{
  padding: 15%;
  text-align: right;
  color: #928888;
  font-family:'Courier New', Courier, monospace;
 }

 h1{
  padding: 15%;
  text-align: right;
  color: #928888;
  font-family:'Courier New', Courier, monospace;
 }