<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Della's Site</title>
</head>
<body>

<div class="sidenav">
    <a href="/user/">Home</a>

    {% if user.is_authenticated %}
    <a href="/accounts/logout/">Log Out</a>

    {% else %}
    <a href="/accounts/login/">Sign in</a>
    <a href="/user/register/">Sign up</a>

    {% endif %}

    <a href="/">Back To Story 7</a>

</div>

<div class="main">
{% block content %}

{% endblock %}
</div>
   
</body>
</html> 
