.btn{
    color: white;
    background-color: #9E7977;
    border-radius: 20px;
    border-color:  #9E7977;
}

.sign-up-in-link{
    color: #3c3c3d;
}

#nya {
  color: #3c3c3d;
  
}
.main-story10 h1{
    font-weight: 550;
    font-size: 55px;
}

.greeting h3{
    font-size: 30px;
    line-height: 15px;
}

.title h3{
    font-size: 35px;
    font-weight: 550;
}

/* NAVBAR COLLAPSE */

.btn-toggle{
  background-color:#928888;
  width: 90px;
  padding: 10px;
  border-radius: 30px; 
}

#sidebar.active {
  margin-left: -250px;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  color: #fff;
  transition: all 0.3s;
}


#sidebar li {
  list-style-type: none;
}

#sidebar ul {
  background: #3c3c3d;
  border-radius: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid  rgb(29, 27, 32);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background:  #9E7977;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background:  rgb(29, 27, 32);
}


/* SIDEBAR COLLAPSE TOGGLE */
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


/* LEFT SIDE */

.left-side {
  width : 25vw; 
  height: 100vh;
  border-top-right-radius: 70px;
  background-color: rgb(29, 27, 32);
 
}

.header-about h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700 !important;
  font-size: 45px;
  color: white;
  line-height: 1.3;
}

/* NAVBAR COLLAPSE */

.btn-toggle{
  background-color:#9E7977;
  width: 90px;
  padding: 10px;
  border-radius: 30px; 
}

#sidebar2.active {
  margin-left: -320px;
}

#sidebar2 .sidebar-header {
  padding: 20px;
  background: rgb(29, 27, 32);
  border-top-right-radius: 70px;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar2 {
  /* don't forget to add all the previously mentioned styles here too */
  color: #fff;
  transition: all 0.3s;
}


#sidebar2 li {
  list-style-type: none;
}

#sidebar2 ul {
  background: #3c3c3d;
  border-radius: 20px;
}

#sidebar2 ul.components {
  padding: 20px;
  border-bottom: 1px solid  rgb(29, 27, 32);
  width: 17vw;
}

#sidebar2 ul p {
  color: #fff;
  padding: 10px;
}



#sidebar2 ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background:  rgb(29, 27, 32);
}

#sidebar-container{
  background-color: transparent;
}


/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


body {
  font-family: 'Rubik', sans-serif;
  background-color: #F2EDEB;
}

#sec1 {
  width: 100%;
  height: max-content;

  background-color: #F2EDEB ;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
  height: 100%;
}

strong{
  color: blanchedalmond;
}
#navbar  {
  background-color: #9E7977;
  border-color: #9E7977;
  text-decoration: none;
}
.nav-link {
  color:   #928888;
}
li{
  text-decoration: none;
  color: black;
}


 .col-sm-3 {
  height: fit-content;
   padding-top: 3%;
   padding-bottom: 3%;
 }
 footer {
  background-color: #9E7977;
  }
 #center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3{
  
  text-align: left;
  color: #928888;
 }

 h2{
  padding: 15%;
  text-align: right;
  color: #928888;
 }

 h1{
  padding: 15%;
  text-align: center;
  color: #928888;
  font-family:'Courier New', Courier, monospace;
 }