

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="{% static 'story9.css' %}">  
{% block content %}

<div class="card" style="width: 75%; border-radius: 10px; margin: 10%;" id="center">
    <div class="card-body">

        <div class="title" id="center" style="text-align: center;">
            <h3 style="text-align: center;">Sign Up</h3>
        </div>
        <div style="margin: 5%;">
            <div class="row">
                
                </div>
        
                <div class="right-page col">
                    <div class="login-content mx-5 my-5">
        
                        
                    
                    <div class="register-form" style="margin: 10%;">
                        <form method="POST">
                            {% csrf_token %} 
                            {{ form }}
                            <div style="margin-top: 5%;"> 
                                <button type="submit" name="btn-signup" id='btn-signUp' class="btn btn-dark mt-4">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                
                    <div class="info mt-5" style="margin-top: 5%;">
                        <p>
                            Have an account already? <a id="nya" href="{% url 'login' %}"><strong  style="color:black;">Sign in.</strong></a>
                        </p>
                    </div>
                </div>
            </div> 
        </div>
        
        </div>


        </div>
    </div>

    <div class="back-button">
        <a style="display: block; width:60px ;border-radius: 10px;margin-bottom: 10%; margin-left: auto; text-align: center;
        margin-right: auto;" id= "bu" class="btn btn-warning" href="/" role="button">Back</a>
    </div>

    
    

{% endblock content %}
