body {
  height: 100%;

  font-family: 'Rubik', sans-serif;
  background-color: #F2EDEB;
  
  color: white;
   /* Chrome 10-25, Safari 5.1-6 */
  padding-top: 5em;
  padding-bottom: 10em;

}

.SearchBook {
  height: 100%;
  padding: 2rem;
  padding-bottom: 3%;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bu {
  background-color:  #C39896;
  border: none;
  color: white;
  border-radius: 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 15%;
}

.back-button {
  padding: 5%;

}

.SearchBook2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5%;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buku{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.judulSearchBook {
  font-size: 2.5em;
  display: block;
      margin-left: auto;
      margin-right: auto;
}

#Table {
  padding-top: 2rem;
  margin: 0;
  color: white;
}
